body{
    display:flex;
    font-family: "Hanken Grotesk";
    min-height: 100vh;
    gap:0;
    
}
.results{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,hsl(252, 100%, 65%),hsl(252, 100%, 35%) ) ;
    max-height: 330px;
    text-align: center;
    margin:0;
    border-radius: 20px;
    padding: 48px;
    
    
}
.summary{
    display:flex;
    flex-direction: column;
    margin:0;
    border-radius: 10px;
}
.compare{
    color: hsl(241, 100%, 89%);
    width:230px;
    margin-top:8px;
}
.circle{
    display:flex;
    flex-direction: column;
    border-radius: 50%;
    background-color:hsl(252, 100%, 55%);
    padding:32px;
    margin: 10px;
    min-width: 100px;
}
.total{
    font-size: 60px;
    font-weight: 700;
    margin:0;
    color:white;
}
.of{
    color:hsl(241, 100%, 89%);
}
.great{
    font-size: 32px;
    color:white;
    font-weight:700;
}
.yourresult{
    font-size: 20px;
    color:hsl(241, 100%, 89%);
    font-weight:500;
    margin-bottom:32px;
}
.score{
    display:flex;
    flex-direction: column;
}
.fullbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}